<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.aossie.ell_ena">
    <!-- Flutter needs internet permission to communicate with the running application
         to provide hot reload and other development features.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
